.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 66px;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  font-size: var(--font-s);
  line-height: var(--line-m);
  font-weight: 500;
  font-family: GolosText;
  transition:
    background-color 0.2s,
    color 0.2s,
    border 0.2s;
}

.btn.btn_primary {
  background-color: var(--color-button-primary);
  color: white;
}

.btn.btn_secondary {
  background-color: transparent;
  border: 2px solid var(--color-button-primary);
}

.btn.btn_tertiary {
  padding: 12px;
  color: var(--color-button-tertiary);
  border: 1px solid var(--color-button-tertiary);
  width: fit-content;
  margin: 0 auto;
  font-size: var(--font-s);
  line-height: var(--line-s);
  border-radius: 62px;
}

.btn.btn_primary:hover {
  background-color: var(--color-button-hover);
  color: var(--color-button-primary);
}

.btn.btn_secondary:hover {
  background-color: var(--color-button-primary);
  color: white;
}

.btn.btn_tertiary:hover {
  background-color: var(--color-button-tertiary);
  color: white;
}
