@import url('./fonts.css');
@import url('./override.css');
@import url('./variables.css');
@import url('./utils.css');
@import url('./buttons.css');

.container {
  max-width: 1366px;
  padding: 0 72px;
  margin: 0 auto;
}

.section {
  margin: 120px 0;
}

.header {
  position: fixed;
  top: 0;
  padding: 26px 0;
  height: var(--header-height);
  width: 100%;
}

.hero-section {
  padding-top: calc(var(--header-height) + 62px);
  margin-top: 0;
}

.hero-section__hero-content {
  max-width: 542px;
}

.hero-content__hero-title {
  text-transform: uppercase;
  margin-bottom: 24px;
}

.hero-title__center {
  text-align: center;
  display: block;
}

.hero-content__hero-subtitle {
  text-align: center;
  margin-bottom: 40px;
}

.hero-content__hero-buttons {
  display: flex;
  gap: 16px;
}

.hero-content__hero-buttons .btn {
  flex: 1;
}

.hero-section {
  padding-bottom: 132px;
  background:
    url('/src/images/background-pattern.png') center,
    url('/src/images/background-city.png') bottom no-repeat,
    var(--color-hero-background);
  background-size: cover, contain;
  background-blend-mode: color-burn, normal;
  margin-bottom: 0;
}

.section.scrolling-text-section {
  margin: 0;
}

.scrolling-text-section {
  background-color: var(--color-primary);
  overflow: hidden;
}

.scrolling-text {
  display: flex;
  gap: 12px;
  list-style: none;
  padding: 12px 0;
  animation: scrolling-text-loop 30s linear infinite;
  width: max-content;
}

.scrolling-text .scrolling-text__item {
  color: var(--color-text-white);
  font-size: var(--font-2l);
  font-family: Merriweather;
  line-height: var(--line-2s);
  display: flex;
  gap: 12px;
  align-items: center;
  text-transform: uppercase;
  flex-shrink: 0;
}

@keyframes scrolling-text-loop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.scrolling-text__item::before {
  display: block;
  content: '';
  background-color: white;
  height: 6px;
  width: 6px;
  border-radius: 100%;
}

.header {
  transition: background-color 0.3s;
  z-index: 8;
}

.header.scrolled,
.header:hover {
  background-color: var(--header-active-background);
}

:is(.header.scrolled, .header:hover) .header-logo__image {
  filter: invert();
}

.header-logo__image {
  height: 36px;
  width: 245px;
}

.support-section__support-intro .support-intro__left,
.support-section__support-intro .support-intro__right {
  flex: 1;
}

.support-intro__left {
  max-width: 764px;
  width: 100%;
}

.support-section {
  margin-top: 80px;
}

.support-section__title {
  text-transform: uppercase;
}

.support-section__support-intro {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 64px;
  align-items: center;
}

.bold {
  color: var(--color-primary);
  font-weight: 700;
}

.support-intro__right {
  max-width: 394px;
}

.support-intro__image {
  width: 100%;
  aspect-ratio: 394 / 250;
  min-width: 0;
  display: block;
}

.support-section__support-info {
  display: flex;
  gap: 20px;
}

.support-section__support-info .support-info__left,
.support-section__support-info .support-info__right {
  flex: 1;
}
.support-info__left {
  max-width: 500px;
  width: 100%;
}

.support-info__image {
  min-width: 0;
  width: 100%;
  aspect-ratio: 474 / 527;
  margin-top: -32px;
}

.support-info__right {
  max-width: 704px;
  width: 100%;
}

.support-info__right .support-section__title {
  margin-bottom: 60px;
}

.support-section__table {
  margin-bottom: 48px;
}

.line-through {
  text-decoration: line-through;
  font-family: inherit;
  text-decoration-color: var(--color-primary);
}

.link {
  color: var(--color-text-tertiary);
  text-decoration: none;
}

.support-section__link {
  font-size: var(--font-l);
}

.support-section {
  margin-bottom: 165px;
}

.steps-section {
  margin-top: 0;
}

.steps-section__title {
  max-width: 806px;
  width: 100%;
  text-transform: uppercase;
  line-height: var(--line-s);
  display: inline;
}

.steps-section__subtitle {
  display: inline-block;
  max-width: 280px;
  margin-left: 25px;
  color: var(--color-text-tertiary);
}

.steps-section__heading {
  max-width: 806px;
  width: 100%;
}

.steps-section__step-grid {
  display: grid;
  width: 100%;
  background-image: url('/src/images/steps-background.png');
  grid-template-columns: 1fr 1fr 1fr;
}
